@import './variables.css';
@import './iconfonts.css';

@lost flexbox flex;

/*Custom media queries*/
@custom-media --mobile (max-width: 500px);
@custom-media --tablet (max-width: 650px);
@custom-media --mid-tablet (max-width: 767px);
@custom-media --big-tablet (max-width: 800px);
@custom-media --retina (-webkit-min-device-pixel-ratio: 2);

/*Mixins*/
@define-mixin btn $textColor, $bgColor, $bgColorStart, $bgColorEnd {
  text-decoration: none;
  border-radius: 12px;
  border: none;
  color: $(textColor);
  padding: 7px 12px;
  cursor: pointer;
  font-size: var(--fontSize);
  background: $(bgColor);
  background: linear-gradient(to left, $(bgColorStart), $(bgColorEnd));
}

body {
  font-family: 'Allerta', sans-serif;
  margin: 0;
}

.b-lazy {
  transition: 1s;
  max-width: 100%;
  opacity: 0;
}

.b-lazy.b-loaded {
 opacity: 1;
}

.u-Grid {
  background: gray;
  lost-center: 800px;
  lost-utility: clearfix;

  &-column {
    background-color: blue;
    lost-column: 1/5;

    @media (--tablet) {
      lost-column: 1/3;
    }

    @media (--mobile) {
      lost-column: 1/1;
    }
  }
}

.u-wrapper {
  max-width: 800px;
  margin: auto;
  position: relative;
}

.InvieHero {
  background: url('../images/background.png') var(--bg-header);
  background-size: cover;
  padding: 20px;
  height: 500px;

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-logo {
    display: inline-block;
    margin-left: 0;
    transition: all 0.3s ease-in;
    
    &:hover {
      filter: blur(4px);
    }
  }

  &-btn {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #395667;
    display: none;
    text-align: center;
    cursor: pointer;
    position: fixed;
    left: 20px;
    top: 20px;
    color: white;
    z-index: 3;
  }

  &-navbar {
    font-size: 24px;
    display: inline-block;
    position: absolute;
    right: 0;
  }

  &-menu {

    &-item {
      display: inline-block;
      margin-left: 30px;

      &:before {
        content: '∘';
        font-size: 25px;
        line-height: 20px;
        color: white;
      }

      & > a {
        color: white;
        text-decoration: none;
      }
    }
  }

  &-copy {

    &-title {
      font-family: 'Montserrat', sans-serif;
      color: var(--bg-body);
      font-size: 70px;
      margin-bottom: 0;
      margin-top: 70px;
      transition: .3s;

      & > span {
        text-decoration: underline;
      }

      @media (--big-tablet) {
        font-size: 45px;
        margin-top: 30px;
      }
    }

    &-subtitle {
      color: var(--bg-body);
      font-size: 24px;
      margin-top: 0;
      transition: .3s;

      @media (--big-tablet) {
        font-size: 18px;
      }
    }

    &-btn {
      @mixin btn var(--bg-body), var(--btn-gradient), var(--btn-gradient-start), var(--btn-gradient-end);
      margin-bottom: 70px;

      @media (--big-tablet) {
        display: inline-block;
        margin-bottom: 30px;
      }
    }
  }

  @media (--big-tablet) {
    height: auto;
  }

  @media (--retina) {
  	background-image: url('../images/background2x.png');
  }
}

.InvieGuitars {

  color: var(--bg-guitars);
  margin-bottom: 60px;

  &-title {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(var(--fontSize) * 2);
  }

  &-item {

    margin: 10px 10px 40px 10px;
    padding: 10px;
    /*overflow: hidden;*/
    border: 1px solid #1F313C;
    border-radius: 8px;

    &.b {
      height: 190px;

      @media (--big-tablet) {
        height: auto;
      }
    }

    &-img {

      &--left {
        float: left;
        position: relative;
      }

      &--right {
        float: right;
        position: relative;
        top: -127px;
      }

      @media (--big-tablet) {
        float: none;
        position: static;
      }
    }

    &-container {

      &--a {
        padding-left: 20px;

        @media (--big-tablet) {
          padding: 0;
        }
      }

      &--b {
        margin-left: 370px;
        position: relative;
        bottom: 90px;

        @media (--big-tablet) {
          position: static;
          margin: 0;
        }
      }
    }

    &-title {
      font-size: 50px;
      margin-bottom: 20px;
      transition: .3s;

      @media (--big-tablet) {
        margin: 0;
      }
    }

    &-list {
      padding: 0;

      @media (--big-tablet) {

        & > li {
          list-style: none;
        }
      }
    }
  }

  @media (--big-tablet) {
    text-align: center;
  }
}

.InvieFooter {
	background-color: var(--bg-footer);
  padding: 50px 10px;

  &-container {
    display: flex;
    justify-content: space-between;
  }

  &-contact {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    align-items: center;
  }

  &-logo {
    display: block;
  }

  &-link {
    color: white;
    text-decoration: none;
    margin: 10px 10px 10px 0;
    
    & > strong {
      display: block;
    }
  }

  &-form {
    display: flex;
    width: 400px;
    color: white;

    &-column {
      display: flex;
      flex-direction: column;

      &--1 {
        margin-right: 15px;
      }

      &--2 {
        align-items: flex-start;
      }
    }

    &-label {
      margin-bottom: 10px;
    }

    &-sex {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &-interests {
      margin-bottom: 10px;

      & > label {
        font-size: 12px;
      }
    }

    &-input {
      outline: 0;

      &:focus {
        background: lightgray;
      }
    }

    &-btn {
      @mixin btn var(--bg-body), var(--btn-gradient), var(--btn-gradient-start), var(--btn-gradient-end);
      margin-top: 15px;
    }
  }
}